* {
    background-color: #444444;
    font-family: 'Monospace Typewriter';
    color: whitesmoke;
}

@font-face {
    font-family: 'Monospace Typewriter';
    src: url('MonospaceTypewriter.ttf');
}

button {
    border: 3px solid lightslategray;
}

.flexBox {
    display: flex;
    align-items: center;
    place-content: center;
}