* {
    background-color: #444444;
    font-family: 'Monospace Typewriter';
    color: whitesmoke;
}
img {
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.header {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
@font-face {
    font-family: 'Monospace Typewriter';
    src: url('MonospaceTypewriter.ttf');
}
.tabButton {
    margin-left: 5px;
    margin-right: 5px;
    width: 8.25em;
    height: 4em;
    text-align: center;
}
.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
.elementButton {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 26em;
    height: 5em;
}
/* change this to row so it can hold multiple columns in a row lineup, if that makes sense */
.holder {
    margin-top: 50px;
    flex-direction: row;
}
/* elements you want to be in a column will be contained in one of these */
.elementColumn{
    /* margin is used here to separate columns */
    margin-right: 8px;
    flex-direction: column;
}
.compoundButton {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 10em;
    height: 12em;
}
.buyMax {
    width: 10em;
}
.compound:hover {
    background-color: #3a5b99;
}
.power:hover {
    background-color: #abaf42;
}
.powerUp {
    width: 12em;
    height: 10em;
}
.buyAmount {
    margin-right: 10px;
    border: 3px solid #adadad;
    width: 10em;
    height: 5em;
}
.achieveHolder {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* Hover Actions */
.melt:hover {
    background-color: #68368a;
}
.settings:hover {
    background-color: gray;
}
.buyAmount:hover {
    background-color: #adadad;
}
.refinery:hover {
    background-color: #583793;
}
#delete:hover {
    background-color: #ad4242;
}
#Hydrogen:hover {
    background-color: #adadad;
}
#Carbon:hover {
    background-color: #ad4242;
}
#Oxygen:hover {
    background-color: #ae8042;
}
#Fluorine:hover {
    background-color: #abaf42;
}
#Sulfur:hover {
    background-color: #62af41;
}
#Chlorine:hover {
    background-color: #4182af;
}
#Iron:hover {
    background-color: #9541af;
}
#Lead:hover {
    background-color: #b04192;
}

#eB:hover {
    background-color: #3c9f45;
}
#cB:hover {
    background-color: #3a5b99;
}
#pB:hover {
    background-color: #b0b835;
}
#mB:hover {
    background-color: #68368a;
}
#fB:hover {
    background-color: #9f3c3c;
}
#sB:hover {
    background-color: gray;
}
#aB:hover {
    background-color: aquamarine;
}
#rB:hover {
    background-color: #583793;
}