* {
    background-color: #444444;
    font-family: 'Monospace Typewriter';
    color: whitesmoke;
}
hr {
    border: 1px solid;
}
img {
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
#confirmWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
#confirm {
    max-width: 500px;
    background: #646464;
    border: 4px solid #ffffff;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 5px;
}
#confirmB:hover {
    background-color: green;
}
#cancelB:hover {
    background-color: red;
}
.header {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
@font-face {
    font-family: 'Monospace Typewriter';
    src: url('MonospaceTypewriter.ttf');
}
.tabButton {
    margin-left: 5px;
    margin-right: 5px;
    width: 8.25em;
    height: 4em;
    text-align: center;
}
.subTabButton {
    margin-left: 5px;
    margin-right: 5px;
    width: 7.5em;
    height: 3em;
    text-align: center;
}
.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
.elementButton {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 26em;
    height: 5em;
}
/* change this to row so it can hold multiple columns in a row lineup, if that makes sense */
.holder {
    margin-top: 25px;
    flex-direction: row;
}
/* elements you want to be in a column will be contained in one of these */
.elementColumn{
    /* margin is used here to separate columns */
    margin-right: 8px;
    flex-direction: column;
}
.compoundButton {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 10em;
    height: 12em;
}
.buyMax {
    width: 10em;
}
.compound:hover {
    background-color: #3a5b99;
}
.power:hover {
    background-color: #abaf42;
}
.powerUp {
    width: 12em;
    height: 10em;
}
.buyAmount {
    margin-right: 10px;
    border: 3px solid #adadad;
    width: 10em;
    height: 5em;
}
.achieveHolder {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* Hover Actions */
.melt:hover {
    background-color: #68368a;
}
.settings:hover {
    background-color: gray;
}
.buyAmount:hover {
    background-color: #adadad;
}
.refinery:hover {
    background-color: #583793;
}
.acB:hover {
    background-color: #37936d;
}
#delete:hover {
    background-color: #ad4242;
}
#Hydrogen:hover {
    background-color: #adadad;
}
#Carbon:hover {
    background-color: #ad4242;
}
#Oxygen:hover {
    background-color: #ae8042;
}
#Fluorine:hover {
    background-color: #abaf42;
}
#Sulfur:hover {
    background-color: #62af41;
}
#Chlorine:hover {
    background-color: #4182af;
}
#Iron:hover {
    background-color: #9541af;
}
#Lead:hover {
    background-color: #b04192;
}

#Hydrogen3:hover {
    background-color: #636363;
}
#Carbon14:hover {
    background-color: #742c2c;
}
#Oxygen15:hover {
    background-color: #694d27;
}
#Fluorine18:hover {
    background-color: #5f6123;
}
#Sulfur35:hover {
    background-color: #2a4b1c;
}
#Chlorine37:hover {
    background-color: #21435c;
}
#Iron60:hover {
    background-color: #4b2058;
}
#Lead212:hover {
    background-color: #632452;
}

#eB:hover {
    background-color: #3c9f45;
}
#cB:hover {
    background-color: #3a5b99;
}
#pB:hover {
    background-color: #b0b835;
}
#mB:hover {
    background-color: #68368a;
}
#fB:hover {
    background-color: #9f3c3c;
}
#sB:hover {
    background-color: gray;
}
#aB:hover {
    background-color: #7fccff;
}
#acB:hover {
    background-color: #37936d;
}
#rB:hover {
    background-color: #583793;
}
#ReE:hover {
    background-color: #3c9f45;
}
#RaE:hover {
    background-color: #307e35;
}