* {
    background-color: #444444;
    font-family: 'Monospace Typewriter';
    color: whitesmoke;
}
.header {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
@font-face {
    font-family: 'Monospace Typewriter';
    src: url('MonospaceTypewriter.ttf');
}
.tabButton {
    margin-left: 10px;
    margin-right: 10px;
    width: 7em;
    height: 4em;
}
.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
/* change this to row so it can hold multiple columns in a row lineup, if that makes sense */
.elementHolder {
    margin-top: 50px;
    flex-direction: row;
}
/* elements you want to be in a column will be contained in one of these */
.elementColumn{
    /* margin is used here to separate columns */
    margin-right: 8px;
    flex-direction: column;
}